.container-fluid
  .row-fluid
    .col-sm-6
      .page-header
        %h1 Términos y Condiciones de Uso
        %p Panadata.net es una plataforma de uso gratuito que contiene información pública y accesible al público general por medio de las páginas web y servicios conexos de las diversas agencias del Gobierno Nacional de la República de Panamá.
        %p La información que aparece en el panadata.net es actualizada de forma regular, actualizando los datos directamente de la plataforma de acceso público sin utilizar ningún tipo de mecanismo fraudulendo. El contenido que se despliega en la presente plataforma no ha sido modificado en ningún momento, ni tampoco contiene información privilegiada más allá de la que puede obtenerse como ciudadano panameño corriente.
        %p Los creadores de panadata.net no son responsables por el contenido que aparezca en la presente plataforma. Para cualquier queja formal acerca del contenido y cualquier tema relacionado con la información presentada, debe ser realizada directamente a la agencia o institución del Estado propietaria de dicha información o contenido.
        %p Está prohibido utilizar panadata.net o sus servicios para realizar cualquier acto ilícito contemplado como tal bajo las leyes de la República de Panamá. En caso de detectarse un uso indebido o irregular en la plataforma, se procederá a bloquear el acceso a la misma por medio del mecanismo que panadata.net considere, sin limitación a cualquier acción legal que pueda ser presentada en contra del perpetrador.
        %p El presente documento podrá ser modificado sin aviso previo.
        %p Al utilizar la plataforma panadata.net, confirmo que he leído los términos y condiciones de uso que aquí se establecen, y acepto los mismos sin reservas.
