.col-md-12
    .page-header
        %h1 
            PANADATA
            %small Data Publica de Panama
    .row-fluid
        .col-md-12
            %h4 
                %b Que data?
            %h4 #{@compras} Licitaciones de Panama Compra (panacompra.gob.pa)
            %h4 #{@sociedades} Sociedades del Registro Publico (registro-publico.gob.pa)
            %h4 #{@marcas} Marcas Registradas (digerpi.gob.pa)
    .row-fluid
        .col-md-12
            %h4 
                %b Como se consigue?
            %h4 Con estos programas:
            %ul
                %li
                    %a{href: 'https://github.com/ibarria0/panacompra'} https://github.com/ibarria0/panacompra
                %li
                    %a{href: 'https://github.com/ibarria0/regdump'} https://github.com/ibarria0/regdump
                %li
                    %a{href: 'https://github.com/ibarria0/marcadump'} https://github.com/ibarria0/marcadump
    .row-fluid
        .col-md-12
            %h4 
                %b Como contacto al desarrollador? 
            %h4 email: admin@panadata.net
            %h4
                llave pgp: 
                %a{href:'http://panadata.s3.amazonaws.com/panadata.pub'} panadata.pub
