.col-md-12
  .page-header
    %h1 
      PANADATA
      %small Data Pública de Panamá 
  .row-fluid
    .col-md-12
      %h3 ¿Qué es PANADATA?
      %p 
        Un proyecto de 
        %a{href:'http://es.wikipedia.org/wiki/Software_libre'}
          software libre
        que brinda accesibilidad a la data pública de Panamá.
      %p 
        Al utilizar la plataforma panadata.net está aceptando los
        %a{href: terminos_y_condiciones_path } términos y condiciones de uso.
  .row-fluid
    .col-md-12
      %h3 ¿Qué data?
      %ul
        %li Licitaciones de Panamá Compra (panamacompra.gob.pa) 
        %li Sociedades del Registro Público (registro-publico.gob.pa)
        %li Marcas Registradas (digerpi.gob.pa)
        %li Documentos de Contraloría (contraloria.gob.pa)
  .row-fluid
    .col-md-12
      %h3 ¿Cómo se consigue?
      %p 
        Utilizando 
        %a{href: 'http://en.wikipedia.org/wiki/Web_scraping'}
          web scrapers
        hechos en python3.
  .row-fluid
    .col-md-12
      %h3 ¿Esto es legal?
      %p
        Sí, el artículo 2 de la  
        %a{href: 'http://en.wikipedia.org/wiki/Web_scraping'}
          ley de transparencia
        dice lo siguiente
      %blockquote
        Toda persona tiene derecho a solicitar, sin necesidad de sustentar 
        justificación o motivación alguna, la información de acceso público en poder o en 
        conocimiento de las instituciones indicadas en la presente Ley. 
        Las empresas privadas que suministren servicios públicos con carácter de 
        exclusividad, están obligadas a proporcionar la información que les sea solicitada 
        por los usuarios del servicio, respecto a éste.

  .row-fluid
    .col-md-12
      %h3 ¿Qué tanto se actualizan los datos?
      %ul
        %li Las licitaciones se actulizan cada 10 minutos.
        %li Las sociedades y marcas estan en constante processo de ser extraídas
  .row-fluid
    .col-md-12
      %h3 ¿Cómo contacto al desarrollador? 
      %ul
        %li email: admin@panadata.net
        %li
          llave pgp: 
          %a{href:'http://panadata.s3.amazonaws.com/panadata.pub'} panadata.pub
