.jumbotron
    %h1 PANADATA
    %p Esta pagina web intenta brindar acesibilidad a la informacion publica de la Republica de Panama. Toda la informacion en esta pagina es obtenida atravez de diversos servicios publicos.
    %p= link_to "Conozca Mas", '#', class: 'btn btn-primary btn-lg', role: 'button' 


