.col-md-12
  .page-header
    %h1 
      PANADATA
      %small Data Pública de Panamá 
  .row-fluid
    .col-md-12
      %h3 ¿Qué es PANADATA?
      %p Una proyecto de código libre que busca brindar accesibilidad para todos a la data pública de Panamá.
      %p 
        Al utilizar la plataforma panadata.net está aceptando los
        %a{href: terminos_y_condiciones_path } términos y condiciones de uso.
  .row-fluid
    .col-md-12
      %h3 ¿Qué data?
      %ul
        %li #{number_with_delimiter(@compras, delimiter: ',')} Licitaciones de Panamá Compra (panamacompra.gob.pa) 
        %li #{number_with_delimiter(@sociedades, delimiter: ',')} Sociedades del Registro Público (registro-publico.gob.pa)
        %li #{number_with_delimiter(@marcas, delimiter: ',')} Marcas Registradas (digerpi.gob.pa)
  .row-fluid
    .col-md-12
      %h3 ¿Cómo se consigue?
      %p 
        Utilizando 
        %a{href: 'http://en.wikipedia.org/wiki/Web_scraping'}
          web scrapers
        hechos en python3.
  .row-fluid
    .col-md-12
      %h3 ¿Qué tanto se actualizan los datos?
      %ul
        %li Las licitaciones se actulizan cada 10 minutos.
        %li Las sociedades y marcas estan en constante processo de ser extraídas
  .row-fluid
    .col-md-12
      %h3 ¿Cómo contacto al desarrollador? 
      %ul
        %li email: admin@panadata.net
        %li
          llave pgp: 
          %a{href:'http://panadata.s3.amazonaws.com/panadata.pub'} panadata.pub
