.row-fluid
    .page-header
        %h1 Busqueda
.row-fluid
    = form_tag entidades_path, method: :get,  role:'form', class: 'search-form' do
        .form-group
            = text_field_tag :query, params[:query], placeholder: 'ejemplo: Ministerio del Tocino', class: "form-control"
        .form-group
            #search-buttons
            = submit_tag "Buscar", name: nil, class: 'btn btn-success btn-block'
            = button_tag "Limpiar Filtros", id: 'clean', class: 'btn btn-danger btn-block', type: 'button'


