<p>Hola <%= @email %>!</p>

<p>Puedes confirmar tu direcci&oaccute;n de correo electr&oaccute;nico haciendo click en el siguiente link:</p>

<p><%= link_to 'Link de confirmaci&oaccute;n', confirmation_url(@resource, confirmation_token: @token) %></p>
