<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha pedido un cambio de contraseña para tu cuenta. Puedes hacerlo con el siguiente link:</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has pedido un cambio de contraseña, porfavor ignora este email.</p>
